.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 10rem;
  border-bottom: 0.1rem solid $white-color;
  padding-bottom: 1rem;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    p {
      font-size: 1.5rem;
    }

    input {
      border: 0.1rem solid transparent;
      padding: 0.15rem 0.5rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;

      &:-webkit-autofill{
        background-color: $white-color;
        -webkit-box-shadow: 0 0 0px 1000px $white-color inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    select {
      outline: none;
      border: 0.1rem solid transparent;
      padding: 0.15rem 0.5rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;

      &:focus:hover {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      option {
        font-size: 1.5rem;
      }
    }    
  }

  button {
    background-color: $third-light-color;
    color: $white-color;
    border: 0.1rem solid transparent;
    font-weight: 600;
    padding: 0.15rem 0.8rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    transition: 0.5s;

    &:disabled {
      opacity: 30%;
    }

    &:enabled:hover {
      border: 0.1rem solid $white-color;
      box-shadow: 0 0 0.35rem $third-light-color;
    }
  }
}