.header-container {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $second-color;

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;

    &-buttons {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 30rem;

        button {
          color: $white-color;
          border-bottom: 0.1rem solid transparent;
          border-top: 0.1rem solid transparent;
          border-right: 0.1rem solid $primary-color;
          border-left: 0.1rem solid $primary-color;
          font-size: 1.75rem;
          height: 100%;
          width: 15rem;
          background-color: $second-color;
          padding: 0 1rem;
          transition: .5s;

          &:enabled:hover{
            border: 0.1rem solid $white-color;
            text-shadow: 0 0 0.15rem $white-color;
          }

          &:disabled {
            background-color: $primary-color;
            color: white;
            font-weight: 600;
            border-bottom: 0.5rem solid $primary-color;
            border-top: 0.5rem solid $primary-color;
            border-right: 0.4rem solid $second-dark-color;
            border-left: 0.4rem solid $second-dark-color;
          }
        }
      }
    }

    &-logo {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      div {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white-color;
        border: 0.1rem solid transparent;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;

        img {
          width: 5rem;
        }

        h2 {
          font-size: 3rem;
          color: $primary-color;
          font-family: "Lato", sans-serif;
          font-weight: 600;
        }
      }
    }

    &-logout {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 100%;
      column-gap: 1rem;

      button {
        color: $white-color;
        border-bottom: 0.1rem solid transparent;
        border-top: 0.1rem solid transparent;
        border-right: 0.1rem solid $primary-color;
        border-left: 0.1rem solid $primary-color;
        font-size: 1.75rem;
        height: 100%;
        width: 8rem;
        background-color: $second-color;
        padding: 0 1rem;
        transition: 0.5s;

        &:hover {
          border: 0.1rem solid $white-color;
          text-shadow: 0 0 0.1rem $white-color;
        }
      }

      p {
        font-size: 2rem;
      }
    }
  }
}
