.orderTable-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    tr {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-bottom: 0.1rem solid $white-color;
      padding-bottom: 0.5rem;

      th {
        padding: 0.25rem;
        width: 100%;
        font-size: 1.8rem;

        &:nth-child(1), &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6) {
          width: 50rem;
        }
      }
    }
  }

  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    tr {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-bottom: 0.1rem solid $white-color;
      padding: 0.25rem 0;

      td {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;

        span {
          font-size: 1.5rem;
        }

        button {
          font-size: 1.25rem;
          background-color: $seventh-color;
          color: $white-color;
          border: 0.1rem solid transparent;
          padding: 0 1rem;
          border-bottom-left-radius: 1rem;
          border-top-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        &:nth-child(1), &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6) {
          width: 50rem;
        }
      }
    }
  }
}