.adminManage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  row-gap: 2rem;
  width: 100%;
  min-height: 100vh;

  &-content {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 2rem;
      align-self: flex-start;
      width: 100%;
      padding-bottom: 0.5rem;
      border-bottom: 0.1rem solid $white-color;
    }

    .error-container-content {
      min-height: 4rem;
      
      p {
        padding-top: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}