$primary-color: #060708;
$second-color: #2E3136;
$third-light-color: #328303;
$third-color: #33740d;
$fourth-color: #14360E;
$fifth-color: #f7e733;
$sixth-color: #02A9EA;
$seventh-color: #bb0606;
   

$status-pendente: #bb0606;
$status-preparando: #a75e0b;
$status-em-transito: #b19602;
$status-entregue: #328303;

$white-color: #fff;
$black-color: #000;