$primary-color: #060708;
$second-color: #2E3136;
$third-light-color: #328303;
$third-color: #33740d;
$fourth-color: #14360E;
$fifth-color: #f7e733;
$sixth-color: #02A9EA;
$seventh-color: #bb0606;
   
$white-color: #fff;
$black-color: #000;