$primary-color: #060708;
$second-color: #2E3136;
$third-light-color: #058525;
$third-color: #3c7a17;
$fourth-color: #14360E;
$fifth-color: #f7e733;
$sixth-color: #02A9EA;
   
$white-color: #fff;
$black-color: #000;